#hero .hero-container {
  background: rgba(0, 0, 0, 0.6);
  display: table-cell;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
}
#hero {
  display: table;
  width: 100%;
  height:70vh;
  background: url(../img/team.jpg) top center fixed;
  background-size: cover;
}
#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
#hero p {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}
@media (max-width: 768px) {
  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
#team {
  background: #fff;
  padding: 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #000;
  position: relative;
}

#team .member .member-info {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: -50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #1f7542;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .pro-pic {
  min-height: 200px; 
}
.team .pro-pic .card-img-overlay {
  background: rgba(12, 46, 26, 0.87);
  display: none; 
}
.team .pro-pic .card-img-overlay ul {
  position: relative;
  top: 50%;
  text-align: center; 
}
.team .pro-pic .card-img-overlay ul li a {
  color: #ffffff;
  padding: 0 10px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  display: block;
  border-radius: 50%;
}
.team .pro-pic .card-img-overlay ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px); 
}
.team .pro-pic:hover .card-img-overlay {
  display: block; 
}
.team .title {
  margin-top: 10px!important; 
  font-size: 18px!important;
}
.team .subtitle{
  padding-left: 5px!important;
  margin-top:-20px!important;
  font-size: 16px;
  font-family: "Helvetica Neue,Helvetica,Arial",sans-serif !important;
}
.btn:focus{
  outline: none!important;
}
.btn-link{
  padding-top: 10px!important;
  text-align: center;
  color:#602C8F!important;
}
.team .section-header h3{
  margin-top: 20px!important;
}
.card-body p{
  text-align: justify;
  margin-top: 60!important;
}
